.options-wrapper {
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
	background-color: var(--input-bg-color);
}
.sortLabel {
	color: var(--text-color);
	font-weight: 700;
	font-size: .7rem;
}

.sort-select-container {
	color: var(--settings-row-text-color);
	background-color: var(--input-bg-color);
	border: 1px solid transparent;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-weight: 400;
	margin: 5px 5px;
	cursor: pointer;
	line-height: 16px;
	font-size: .7rem;
	transition: all .2s ease-in !important;
}

.sort-select-custom-option {
	display: flex;
	justify-content: flex-start;
}

.sort-select__control {
	color: var(--settings-row-text-color) !important;
	background-color: var(--input-bg-color) !important;
}

.sort-select__indicator svg {
	fill: var(--settings-row-text-color) !important;
}

.sort-select__option {
	background-color: var(--input-bg-color) !important;
}

.sort-select__option:hover {
	background-color: var(--single-tab-row-hover-color) !important;
}

.sort-select__menu {
	background-color: var(--input-bg-color) !important;
}

.sort-select__single-value {
	color: var(--settings-row-text-color) !important;
	min-width: 40px !important;
}

.sort-select__option--is-selected {
	color: var(--primary-color) !important;
	font-weight: 700 !important;
}

.sort-icon:before {
	content: '';
	width: 9px;
	border-top: 1px solid var(--text-color);
	position: absolute;
	top: 2px;
	height: 1px;
}

.sort-icon {
	position: relative;
	display: inline-block;
	width: 12px;
	height: 7px;
	margin: 0 5px;
	border-top: 1px solid var(--text-color);
}

.sort-icon:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 0;
	width: 6px;
	height: 1px;
	border-top: 1px solid var(--text-color);
}

.verticle-divider {
	width: 1px;
	height: 26px;
	background-color: var(--divider-color);
	margin: 0 12px;
}