.image-upload {
	display: flex;
    line-height: 16px;
}
.image-upload > input {
	visibility:hidden;
	width:0;
	height:0
}
.image-upload > label {
	cursor: pointer;
}
.input-label {
	display: flex;
    align-items: center;
	width: 160px;
}
.import-icon {
	float: left;
	margin-right: 5px;
}
.import-button {
	background-color: transparent;
	color: var(--text-color);
	border: none;
	border-radius: 5px;
	padding: 6px 14px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: start;
	font-size:.75em;
	font-weight: 600;
	flex-basis: 160px;
}