.session_div {
	line-height: 26px;
	padding-left: 5px;
	height: 26px;
	font-size: .7rem;
	color: var(--text-color);
	font-weight: 500;
	display: block;
	flex-grow: 1;
	text-align: center;
}
.session_div button {
	background-color: transparent;
    border: 1px solid var(--setting-row-border-color);
    border-radius: 5px;
    color: var(--settings-row-text-color);
    font-weight: 600;
    padding: 2px 20px;
    margin: 5px 5px;
	cursor: pointer;
	font-size: .8rem;
	transition: background-color .2s ease-in !important;
}
.session_div button:hover {
	background-color: var(--setting-row-hover-bg-color);
}
.session_div button:disabled, .session_div button:disabled:hover {
	cursor: default;
	color: var(--divider-color);
}
.alert-overlay {
    backdrop-filter: none !important;
    animation: none !important;
    opacity: 1 !important;
}
