.session-list-wrapper {
    display: block;
    overflow: auto;
    max-height: 180px;
    width: 100%;
    border: 1px solid var(--primary-color);
    padding: 7px;
    border-radius: 5px;
    margin: 10px auto;
}
.session-wrapper {
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.session-corner {
    width: 20px;
    display: inline-block;
}
.collection-row {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-left: 10px;
    margin-top: 5px;
    height: 30px;
}
.collection-corner {
    padding-right: 10px;
    display: flex;
}
.collection-text {
    display: flex;
    color: var(--text-color);
    font-weight: 600;
}
.collection-action {
    background-color: #4c884f;
}
.add-collection {
    background-color: var(--primary-color);
}
.collection-action span {
    padding: 3px 10px;
    font-size: 10px;
}
.session-name {
    display: flex;
    background-color: var(--footer-bg-color);
    padding: 4px 10px;
    border-radius: 5px;
    justify-content: space-between;
}
.session-title {
    display: flex;
}
.session-date {
    float: right
}
.close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.close-button:hover {
    color: var(--primary-color);
}
.session-card-wrapper {
    position: relative;
}