.settings-wrapper {
    position: absolute;
    top: 10px;
    right: 7px;
}
.settings-button {
    cursor: pointer;
}
.settings-items-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    padding: 10px;
}