:root, [data-theme="light"] {
  --primary-color: #1698e2;
  --divider-color: #d1d1d1;
  --text-color: #5d5d5d;
  --bg-color: #fff;
  --setting-row-border-color: #efefef;
  --setting-row-hover-bg-color: #efefef;
  --settings-row-text-color: #838685;
  --highlight-row-color: #f2fad1;
  --footer-bg-color: #d8dadd;
  --footer-text-color: #86928d;
  --link-hover-color: #E09500;
  --input-bg-color: #efefef;
  --switch-bg-color: #c2c2c2;
  --update-btn-bg-color: #e7ce67;
  --update-btn-main-color: #685211; 
  --avatar-bg: #c4c5c4;
  --picker-bg-color: #a3aca9;
  --single-tab-row-hover-color: #d5e0ea;
  --active-auto-update-gradient: radial-gradient(circle at center, #e2edf4 0%, #e6eff5 4%, #eef3fb 12.25%);
  --focus-btn-bg-color: #e74c3c;
  --focus-btn-text-color: #f6f9fb;
}
[data-theme="dark"] {
  --primary-color: #177CB6;
  --divider-color: #2f343b;
  --text-color: #f2f2f2;
  --bg-color: #212121;
  --setting-row-border-color: #2B303C;
  --setting-row-hover-bg-color: #2f343b;
  --settings-row-text-color: #c3c3c3;
  --highlight-row-color: #5b5f4a;
  --footer-bg-color: #444c58;
  --footer-text-color: #939fa7;
  --link-hover-color: #E09500;
  --input-bg-color: #2f343b;
  --switch-bg-color: #4b4c4b;
  --update-btn-bg-color: #8c812e;
  --update-btn-main-color: #fff189;
  --avatar-bg: #666666;
  --picker-bg-color: #323941;
  --single-tab-row-hover-color: #3e4554;
  --active-auto-update-gradient: radial-gradient(circle at center, #323b48 0%, #353c46 4%, #313a46 12.25%, #2f343b 31.25%);
  --focus-btn-bg-color: #e74c3c;
  --focus-btn-text-color: #f6f9fb;
}
body, html, * {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  transition: background-color .2s ease-in;
}
* { box-sizing:border-box; }
body {
  padding:0;
  margin:0;
  border:0;
  width: 650px;
  min-height: 520px;
  overflow-x:auto;
  background-color:var(--bg-color);
  color: var(--text-color);
  font-size:1em;
  user-select: text;
  -webkit-user-select: text;
  -webkit-text-size-adjust: text;
}
.group 			  {
  position:relative;
  margin-bottom:25px;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}

.double-row {
	flex: 2;
	align-content: center;
  	flex-basis: 100%;
}

.column {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
}
.spacer {
  display: inline-block;
  width:30px;
}
.small-tooltip {
	font-size: 11px !important;
	padding: 3px 10px !important;
}